@{
  Layout = "_Layout";
}
<h1 class="text-center">Welcome to Pierre's Sweet and Savory Treats!</h1>

@using PierresTreats.Models


<hr>
<h4>@Html.ActionLink("Treats", "Index", "Treats")</h4>
@if (ViewBag.Treats.Count == 0)
{
  <p>No Treats have been added yet!</p>
} 
<ul>
  @foreach (var treat in (List<Treat>)ViewBag.Treats) //<-- casting to List<T> inorder to use the Html.ActionLink below to avoid error CS1973.
  {
    @* <li>@Html.ActionLink(@treat.Name, "Edit", "Treats", new { id = @treat.TreatId})</li> *@
    <li>@treat.Name <br> &emsp;-@treat.Description</li>
  }
</ul>
<br>
<h4>@Html.ActionLink("Flavors", "Index", "Flavors")</h4>
@if (ViewBag.Flavors.Count == 0)
{
  <p>No flavors have been added yet!</p>
} 
<ul>
  @foreach (Flavor flavor in (List<Flavor>)ViewBag.Flavors) //<-- casting to List<T> inorder to use the Html.ActionLink below to avoid error CS1973.
  {
    @* <li>@Html.ActionLink(@flavor.Name, "Details", "Flavors", new { id = @flavor.FlavorId})</li> *@
    <li>@flavor.Name</li>
  }
</ul>
<br>

<hr class="my-2">

<div class="container">
  <div class="row">
    <div class="col-md-6">
      @if (User.Identity.IsAuthenticated)
      {
        <p class="nav">@Html.ActionLink("Manage treats", "Index", "Treats")</p>
        <p class="nav">@Html.ActionLink("Manage flavors", "Index", "Flavors")</p>
      }
    </div>
    <div class="col-md-6 d-flex justify-content-end align-items-center">
      @if (User.Identity.IsAuthenticated)
      {
        <div>
          <span style="font-size: 85%">logged in as:</span>
          <br />
          <span class="highlighted"><a href='@Url.Action("Index", "Account")'>@User.Identity.Name</a></span>
        </div>
        <div style="margin-left: 10px">
          @using (Html.BeginForm("LogOff", "Account"))
          {
            <button type="submit" class="logout">Log out</button>
          }
        </div>
      }
      else
      {
        <a href='@Url.Action("Register", "Account")'>
          <button class="login register">Register</button>
        </a>
        <a href='@Url.Action("Login", "Account")'>
          <button class="login">Log in</button>
        </a>
      }
    </div>
  </div>
</div>